<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>我的个人博客</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <link rel="stylesheet" href="editor.md/css/editormd.css" />


  <!--style 标签中写的就是 css-->
  <style>
      [v-cloak] {
          display: none;
      }
  </style>
</head>

<body id="blog">


<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed" id="app">
    <div class="am-u-md-8 am-u-sm-12" v-show="blog.blog_id == null">

        <article class="am-g blog-entry-article" v-for="blog in blogs" v-cloak>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span><a href="" class="blog-color">{{tag_id2name(blog.tag_id)}} &nbsp;</a></span>
                <span> @{{author}} &nbsp;</span>
                <span>{{blog.create_time}}</span>
                <!--v-on:click 把当前的html 标签关联上一个鼠标点击事件-->
                <h1><a v-on:click="edit_blog(blog.blog_id)">{{blog.title}}</a></h1>
                <button type="button" class="am-btn am-btn-danger am-round" v-on:click="delete_blog(blog.blog_id)">删除博客</button>
                <p><a href="" class="blog-continue">continue reading</a></p>
            </div>
        </article>
    </div>
    <div class="am-u-md-12 am-u-sm-12" v-show="blog.blog_id != null" v-cloak>
        <div class="am-form">
            <div class="am-form-group">
                <label for="doc-ipt-email-1">博客标题</label>
                <input type="text" class="" v-model="blog.title">
            </div>
        </div>
        <!--先使用 editor.md 完成 markdown 到 html 的转换-->
        <article id="blog_view">
            <textarea>{{blog.content}}</textarea>
        </article>
        <button type="button" class="am-btn am-btn-success am-round" v-on:click="update_blog(blog.blog_id)">提交</button>
        <button type="button" class="am-btn am-btn-success am-round" v-on:click="back()">返回</button>
    </div>

    <div class="am-u-md-4 am-u-sm-12 blog-sidebar" v-show="blog.blog_id == null">
        <div class="blog-sidebar-widget blog-bor" v-cloak>
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <img src="images/28.jpg" alt="about me" class="blog-entry-img" >
            <!--插值表达式-->
            <p>{{author}}</p>
            <p>
                我是{{author}}, 努力学习敲代码 
        </p><p>编程虐我千百遍，我待编程如初恋</p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>Contact ME</span></h2>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                <a href="https://github.com/MrDingCheng/learnblog"><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
            </p>
        </div>
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding" v-cloak>
            <a href="" class="blog-tag" v-for="tag in tags">{{tag.tag_name}}</a>
            </div>
        </div>
    </div>
</div>
<!-- content end -->



  <footer class="blog-footer">
    <div class="blog-text-center">© 2019 Made by 丁成成</div>    
  </footer>





<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="editor.md/lib/marked.min.js"></script>
<script src="editor.md/lib/prettify.min.js"></script>
<script src="editor.md/lib/raphael.min.js"></script>
<script src="editor.md/lib/underscore.min.js"></script>
<script src="editor.md/lib/sequence-diagram.min.js"></script>
<script src="editor.md/lib/flowchart.min.js"></script>
<script src="editor.md/lib/jquery.flowchart.min.js"></script>
<script src="editor.md/editormd.js"></script>

<script>
var app = new Vue({
    el: '#app',  // el 表示 app 这个 Vue 对象和哪个 HTML 元素关联上. 
    data: {
        // data 表示所有需要在页面上动态变化的数据
        // 把 js 中的数据和界面上的内容关联在一起, 数据绑定的过程. 
        author: '丁成成',
        blogs: [
        ],
        tags: [
        ],
        // blog 对象用来保存当前页面上展示的博客的详细内容. 
        blog: {
            blog_id: null,
            title: null,
            content: null,
            create_time: null,
            tag_id: null,
        }
    },
    methods: {
        tag_id2name(tag_id) {
            // this 访问到当前的 app 对象
            // this.tags 就相当于上面定义的标签数组
            for (var index in this.tags) {
                if (this.tags[index].tag_id == tag_id) {
                    return this.tags[index].tag_name;
                }
            }
            return "默认分类"
        },
        get_blogs(tag_id) {
            var url = '/blog';
            if (tag_id != null) {
                url = '/blog/?tag_id=' + tag_id;
            }
            // 最核心操作, 访问 http 服务器的数据
            // ajax 原生 API 特别难用. Vue 也提供了 API, 环境配置比较麻烦
            // 此处我们是使用 JQuery 提供的 API 
            $.ajax({
                url: url,
                type: "get",
                context: this, // 此处的 this 就表示 Vue 对象
                success: function(data, status) {
                    // date 表示响应的 body 数据
                    // status 表示响应的状态码
                    // HTTP 请求执行成功之后要执行这个代码.
                    // 在这个代码中更新数据.  
                    // 如果不设置 context, 此时直接使用 this.blogs 是会出错的. 
                    // 因为此时的 this 表示当前 $ 这样的 jquery 对象
                    // 而不是 Vue 对象
                    // 加上 context 之后, this 就表示 context 中的值
                    this.blogs = data;
                }
            })
        },
        init() {
            // 1. 从服务器上获取 tag
            $.ajax({
                type: "get",
                url: "/tag",
                context: this,
                success: function(data, status) {
                    this.tags = data;
                    // 2. 从服务器上获取博客
                    // 更建议大家把 get_blogs 写到回调内部
                    // 因为需要先获取到 tag 信息, 然后才能获取 博客 列表, 否则 tag_id 和 tag_name 的映射关系无法正确建立. 
                    this.get_blogs();
                }
            })
        },
        // 点击博客标题的时候来调用这个函数
        get_blog(blog_id) {
            $.ajax({
                url: '/blog/' + blog_id,
                type: "get",
                context: this,
                success: function(data, status) {
                    // 此时得到的 blog.content 是 markdown 格式的数据
                    this.blog = data;
                    // 把这个 markdown 格式的数据转成 html, 并显示在界面上
                    testEditormdView = editormd.markdownToHTML("blog_view", {
                        markdown        : this.blog.content ,//+ "\r\n" + $("#append-test").text(),
                        //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                        htmlDecode      : "style,script,iframe",  // you can filter tags decode
                        //toc             : false,
                        tocm            : true,    // Using [TOCM]
                        //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                        //gfm             : false,
                        //tocDropdown     : true,
                        // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                        emoji           : true,
                        taskList        : true,
                        tex             : true,  // 默认不解析
                        flowChart       : true,  // 默认不解析
                        sequenceDiagram : true,  // 默认不解析
                    });

                }
            })
        },
        delete_blog(blog_id) {
            $.ajax({
                type: "delete",
                url: '/blog/' + blog_id,
                context: this,
                success: function(data, status) {
                    this.get_blogs();
                    // 弹出对话框提示删除成功
                    alert("删除成功");
                }
            })
        },
        edit_blog(blog_id) {
            // 1. 先把之前的博客数据先清空
            this.blog = {};
            // 2. ajax 获取到当前点击的博客内容
            $.ajax({
                type: "get",
                url: "/blog/" + blog_id,
                context: this,
                success: function(data, status) {
                    this.blog = data;
                    // 3. 根据数据加载 markdown 编辑器
                    testEditor = editormd("blog_view", {
                        width: "100%",
                        height: "700px",
                        syncScrolling: "single",
                        path: "editor.md/lib/"
                    });
                }
            })
        },
        back() {
            this.blog = {};
        },
        update_blog(blog_id) {
            // 从编辑器中获取到修改后的 markdown 数据
            var content = testEditor.getMarkdown();
            var body = {
                title: this.blog.title,
                content: content, // 此处需要得到修改后的内容
                tag_id: this.blog.tag_id
            }
            $.ajax({
                type: "put",
                url: "/blog/" + blog_id,
                data: JSON.stringify(body),
                contentType: 'application/json;charset=utf-8',
                context: this,
                success: function(data, status) {
                    this.get_blogs();
                    alert("提交成功");
                    this.back();
                }
            })
        }
    },
});

// 初始化的获取数据操作
app.init();
</script>
</body>
</html>
